body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-details p {
    font-size: 18px;
    margin: 10px 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.rating i {
    color: #f39c12;
}

button[type="submit"] {
    background-color: #e869cc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #e869cc;
}

.cart-display {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 15px;
    width: 50%;
    text-align: center;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-item p {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
